.container {
    padding: 50px;
}

.host-info {
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.host-info-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.video-stream {
    border: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 20px;
}